{% extends "base.html" %}

{% block content %}
    <h4><strong>Список профессий</strong></h4>
    {% if type == "ol" %}
        <ol>
          <li>Инженер-исследователь</li>
          <li>Пилот</li>
          <li>Строитель</li>
          <li>Врач</li>
          <li>Климатолог</li>
          <li>Штурман</li>
          <li>Киберинженер</li>
        </ol>
    {% else %}
        <ul>
          <li>Инженер-исследователь</li>
          <li>Пилот</li>
          <li>Строитель</li>
          <li>Врач</li>
          <li>Климатолог</li>
          <li>Штурман</li>
          <li>Киберинженер</li>
        </ul>
    {% endif %}
{% endblock %}